<div>
    <input readonly (window:resize)="onResize($event)" [attr.placeholder]="label" #inputSelect (click)="toggleShow()" class="form-control" type="text" [attr.value]="this.valuesSelected.length > 0 ? label : null">
    <div #listGroup class="mh300px list-container hide">
        <ul class="list-group">
            <li [id]="value" (click)="selectValue(value)" *ngFor="let value of values;let i = index" class="list-group-item">{{labels[i]}}</li>
        </ul>
    </div>
</div>
<div #selectBackdrop (click)="toggleShow()" class="select-backdrop hide"></div>
